<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
<welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.users.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtp</display-name>
    <servlet-name>ValidateOtp</servlet-name>
    <servlet-class>com.forgotpassword.ValidateOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtp</servlet-name>
    <url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPVerificationServlet</display-name>
    <servlet-name>OTPVerificationServlet</servlet-name>
    <servlet-class>com.forgotpassword.OTPVerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPVerificationServlet</servlet-name>
    <url-pattern>/OTPVerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.forgotpassword.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswords</display-name>
    <servlet-name>ForgotPasswords</servlet-name>
    <servlet-class>com.forgotpassword.ForgotPasswords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswords</servlet-name>
    <url-pattern>/ForgotPasswords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>com.forgotpassword.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassWord</display-name>
    <servlet-name>NewPassWord</servlet-name>
    <servlet-class>com.forgotpassword.NewPassWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassWord</servlet-name>
    <url-pattern>/NewPassWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.forgotpassword.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCommentServlet</display-name>
    <servlet-name>UserCommentServlet</servlet-name>
    <servlet-class>com.comments.UserCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCommentServlet</servlet-name>
    <url-pattern>/UserCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCommentsServlet</display-name>
    <servlet-name>ViewCommentsServlet</servlet-name>
    <servlet-class>com.comments.ViewCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentsServlet</servlet-name>
    <url-pattern>/ViewCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillPaymentServlet</display-name>
    <servlet-name>BillPaymentServlet</servlet-name>
    <servlet-class>com.billpayment.BillPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillPaymentServlet</servlet-name>
    <url-pattern>/BillPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillPaymentSummaryServlet</display-name>
    <servlet-name>BillPaymentSummaryServlet</servlet-name>
    <servlet-class>com.billpayment.BillPaymentSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillPaymentSummaryServlet</servlet-name>
    <url-pattern>/BillPaymentSummaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBillPaymentServlet</display-name>
    <servlet-name>EditBillPaymentServlet</servlet-name>
    <servlet-class>com.billpayment.EditBillPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBillPaymentServlet</servlet-name>
    <url-pattern>/EditBillPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBillPaymentServlet</display-name>
    <servlet-name>UpdateBillPaymentServlet</servlet-name>
    <servlet-class>com.billpayment.UpdateBillPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillPaymentServlet</servlet-name>
    <url-pattern>/UpdateBillPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBillPaymentServlet</display-name>
    <servlet-name>DeleteBillPaymentServlet</servlet-name>
    <servlet-class>com.billpayment.DeleteBillPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBillPaymentServlet</servlet-name>
    <url-pattern>/DeleteBillPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmPaymentServlet</display-name>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <servlet-class>com.billpayment.ConfirmPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <url-pattern>/ConfirmPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCommentsServlet</display-name>
    <servlet-name>FetchCommentsServlet</servlet-name>
    <servlet-class>com.comments.FetchCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCommentsServlet</servlet-name>
    <url-pattern>/FetchCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.comments.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentUpdateServlet</display-name>
    <servlet-name>CommentUpdateServlet</servlet-name>
    <servlet-class>com.comments.CommentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentUpdateServlet</servlet-name>
    <url-pattern>/CommentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentDeleteServlet</display-name>
    <servlet-name>CommentDeleteServlet</servlet-name>
    <servlet-class>com.comments.CommentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDeleteServlet</servlet-name>
    <url-pattern>/CommentDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>